<div id="logreg-forms">
    <form class="form-signin" #contactForm="ngForm" (ngSubmit)="register()">
        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign in</h1>
        <div class="social-login">
            <button class="btn facebook-btn social-btn" (click)="loginFB()" type="button"><span><i class="fab fa-facebook-f"></i> Sign in with Facebook</span> </button>
            <button class="btn google-btn social-btn" id="googleBtn" type="button"><span><i class="fab fa-google-plus-g"></i> Sign in with Google+</span> </button>
        </div>
        <p style="text-align:center"> OR  </p>
        <div class="form-group" [class.success]="userNameControl.valid" [class.invalid]="userNameControl.invalid && userNameControl.touched">
            <label>*Name:</label><div class="alert alert-danger" *ngIf="userNameControl.invalid && userNameControl.touched">Please Enter Name</div>
            <input type="text" class="form-control" required name="user.name" [(ngModel)]="user.name" #userNameControl="ngModel"/>
          </div>
          <div class="form-group" [class.success]="userPhoneControl.valid" [class.invalid]="userPhoneControl.invalid && userPhoneControl.touched">
            <label>*Phone:</label> <div class="alert alert-danger" *ngIf="userPhoneControl.invalid && userPhoneControl.touched">Please Enter Phone</div>
            <input type="text" class="form-control" required name="user.phone" [(ngModel)]="user.phone" #userPhoneControl="ngModel"/>
          </div>
          <div class="form-group" [class.success]="userEmailControl.valid && userEmailControl.dirty" [class.invalid]="userEmailControl.invalid && userEmailControl.touched">
            <label>*Email:</label> <div class="alert alert-danger" *ngIf="userEmailControl.invalid && userEmailControl.touched">Please Enter Valid Email</div>
            <input type="text" required email class="form-control" name="user.email" [(ngModel)]="user.email" #userEmailControl="ngModel"/>
          </div>
          <div class="form-group">
            <label>WhatsApp Number:</label>
            <input type="text" class="form-control" name="user.whatsapp" [(ngModel)]="user.whatsapp" #userWhatsappControl="ngModel"/>
          </div>
          <div class="form-group">
            <label>Location:</label>
            <input type="text" class="form-control" name="user.location" [(ngModel)]="user.location" #userLocationControl="ngModel"/>
          </div>
        
        <button class="btn btn-primary btn-block" type="submit" [disabled]="contactForm.invalid" (click)="register()" id="btn-signup"><i class="fas fa-user-plus"></i> Sign up New Account</button>
        </form>
        <br>
        
</div>









<!--

<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <span style="padding-top:500px">
    <div class="card">
      <div class="card-header"></div>
      <div class="card-body">
      <div class="row">
          <div class=""><a (click)="loginFB()">
            <div>
                <img class="rounded" style="padding-left:50px;height:100px;width:350px;" src="assets/facebook_login.jpg" />
            </div>
          </a></div>
        </div>
        <div class="row">
          <div class=""><a id="googleBtn">
            <div>
                <img class="rounded" style="height:100px;width:400px;" src="assets/google_login.jpeg"/>
            </div>
          </a></div>
      </div>
    </div>
  </div>
</span>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <form #contactForm="ngForm" (ngSubmit)="register()">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Register</h3>
            </div>
            <div class="card-body">
              <div class="form-group" [class.success]="userNameControl.valid" [class.invalid]="userNameControl.invalid && userNameControl.touched">
                <label>*Name:</label><div class="alert alert-danger" *ngIf="userNameControl.invalid && userNameControl.touched">Please Enter Name</div>
                <input type="text" class="form-control" required name="user.name" [(ngModel)]="user.name" #userNameControl="ngModel"/>
              </div>
              <div class="form-group" [class.success]="userPhoneControl.valid" [class.invalid]="userPhoneControl.invalid && userPhoneControl.touched">
                <label>*Phone:</label> <div class="alert alert-danger" *ngIf="userPhoneControl.invalid && userPhoneControl.touched">Please Enter Phone</div>
                <input type="text" class="form-control" required name="user.phone" [(ngModel)]="user.phone" #userPhoneControl="ngModel"/>
              </div>
              <div class="form-group" [class.success]="userEmailControl.valid && userEmailControl.dirty" [class.invalid]="userEmailControl.invalid && userEmailControl.touched">
                <label>*Email:</label> <div class="alert alert-danger" *ngIf="userEmailControl.invalid && userEmailControl.touched">Please Enter Valid Email</div>
                <input type="text" required email class="form-control" name="user.email" [(ngModel)]="user.email" #userEmailControl="ngModel"/>
              </div>
              <div class="form-group">
                <label>WhatsApp Number:</label>
                <input type="text" class="form-control" name="user.whatsapp" [(ngModel)]="user.whatsapp" #userWhatsappControl="ngModel"/>
              </div>
              <div class="form-group">
                <label>Location:</label>
                <input type="text" class="form-control" name="user.location" [(ngModel)]="user.location" #userLocationControl="ngModel"/>
              </div>
            </div>
            <div class="card-footer">
              <button type="submit" class="btn btn-primary" [disabled]="contactForm.invalid" (click)="register()">Register</button> 
            </div>
          </div>
        </form>
        
  </div>
</div>

-->